<h1>Add Item Rating</h1>
<hr />


<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
     
      <option value="">Select MenuItem</option>
      <select type="text" name="ItemID" ngModel>
      <option *ngFor="let key of menuItemKeys; let i = index" [value]="key">{{menuItems[key].name}}</option>
      </select>

    <div class="div">
      <label>Rating</label>
      <input type="number" name="rating" ngModel />
    </div>

    <div class="div">
      <label>Comment</label>
      <input type="text" name="comment" ngModel />
    </div>

    <div class="div">
      <label>Date</label>
      <input type="text" name="date" ngModel />
    </div>

    <button type="submit">Submit</button>
    <button (click)="goToRoute('ratingitems')">Return To Restaurants</button>
  </form>

</div>

<p *ngIf="clicked"> {{res}} </p>
