<h1 class = "text-center">Search By Category</h1>
<button class="text-center" (click)="goToRoute('home')" mat-raised-button color="primary">Return Home</button>
<button class="text-center" (click)="goToRoute('restaurants')" mat-raised-button color="primary">Go Back</button>
<hr />

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <option value="">Select Category</option>
  <select type="text" name="category" ngModel>
    <option *ngFor="let key of categoryKeys; let i = index" [value]="(categories[key]).type">{{(categories[key]).type}}</option>
  </select>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<h3 *ngIf="qJKeys">Popular than others: {{morePopular}}</h3>

<div *ngIf="qCKeys">
    <div *ngFor="let key of qCKeys; let i = index">
      <h3>Manager Name: {{qC[key].manager_name}}</h3>
      <p>First Open Date: {{qC[key].first_open_date}}</p>
      <hr />
    </div>
  </div>
