<h1 class = "text-center">Ratings</h1>
<button class="text-center" (click)="goToRoute('home')">Return Home</button>
<button class="text-center" (click)="goToRoute('addrating')">Add Rating</button>
<hr />

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <option value="">Select Restaurant To View Ratings</option>
  <select type="text" name="id" ngModel>
    <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
  </select>
  <button type="submit">Submit</button>
</form>

<div *ngIf="ratingKeys">
    <div *ngFor="let key of ratingKeys; let i = index">
      <p>Name: {{raters[ratings[key].userID].name}}</p>
      <p>Date: {{ratings[key].date}}</p>
      <p>Price Rating: {{ratings[key].price}}</p>
      <p>Staff Rating: {{ratings[key].staff}}</p>
      <p>Mood Rating: {{ratings[key].mood}}</p>
      <p>Food Rating: {{ratings[key].food}}</p>
      <p>Restaurant ID: {{ratings[key].restaurantID}}</p>
      <p>Comments: {{ratings[key].comments}}</p>
      <hr />
    </div>
  </div>

  <hr />

<button class="button medium-btn" (click)="onSubmitQueryF()">Display the total number of rating for each restaurant, for each rater</button>

<div *ngIf="queryFArrKeys">
    <div *ngFor="let key of queryFArrKeys; let i = index">
      <h3>Restaurant Name: {{(queryFArr[key]).restaurantname}}</h3>
      <p>Name: {{(queryFArr[key]).name}}</p>
      <p>Price Rating: {{(queryFArr[key]).price}}</p>
      <p>Food Rating: {{(queryFArr[key]).food}}</p>
      <p>Mood Rating: {{(queryFArr[key]).mood}}</p>
      <p>Staff Rating: {{(queryFArr[key]).staff}}</p>
      <hr />
    </div>
  </div>

<hr />

<button class="button medium-btn" (click)="onSubmitQueryG()">Display the details of the restaurants that have not been rated in January 2015!</button>

<div *ngIf="queryGArrKeys">
  <div *ngFor="let key of queryGArrKeys; let i = index">
    <h3>Restaurant Name: {{(queryGArr[key]).name}}</h3>
    <p>Phone Number: {{(queryGArr[key]).phone_number}}</p>
    <p>Type: {{(queryGArr[key]).type}}</p>
    <hr />
  </div>
</div>

<hr />


<form (ngSubmit)="onSubmitQueryI(z)" #z="ngForm">
    <option value="">Select Category</option>
  <select type="text" name="category" ngModel>
    <option *ngFor="let key of categoryKeys; let i = index" [value]="(categories[key]).type">{{(categories[key]).type}}</option>
  </select>
  <button type="submit">List the details of the Type Y restaurants that obtained the highest Food rating.</button>
</form>

<div *ngIf="qIKeys">
    <div *ngFor="let key of qIKeys; let i = index">
      <h3>Restaurant Name: {{qI[key].restaurantname}}</h3>
      <p>Rater Name: {{qI[key].name}}</p>
      <hr />
    </div>
  </div>

  <hr />

  <button class="button medium-btn" (click)="onSubmitQueryK()">Display the raters that give the highest overall rating, in terms of the Food and the Mood of restaurants</button>

<div *ngIf="queryKArrKeys">
  <div *ngFor="let key of queryKArrKeys; let i = index">
    <h3>Name: {{(queryKArr[key]).name}}</h3>
    <p>Join Date: {{(queryKArr[key]).join_date}}</p>
    <p>Reputation: {{(queryKArr[key]).reputation}}</p>
    <p>Restaurant Name: {{(queryKArr[key]).restaurantname}}</p>
    <p>Rating Date: {{(queryKArr[key]).date}}</p>
    <hr />
  </div>
</div>
  
<hr />

<button class="button medium-btn" (click)="onSubmitQueryL()">Display the raters that give the highest overall rating, in terms of the Food OR the Mood of restaurants</button>

<div *ngIf="queryLArrKeys">
  <div *ngFor="let key of queryLArrKeys; let i = index">
    <h3>Name: {{(queryLArr[key]).name}}</h3>
    <p>Join Date: {{(queryLArr[key]).join_date}}</p>
    <p>Reputation: {{(queryLArr[key]).reputation}}</p>
    <p>Restaurant Name: {{(queryLArr[key]).restaurantname}}</p>
    <p>Rating Date: {{(queryLArr[key]).date}}</p>
    <hr />
  </div>
</div>

<hr />

<button class="button medium-btn" (click)="onSubmitQueryN()">Display all raters who gave ratings that are lower than John</button>

<div *ngIf="queryNArrKeys">
  <div *ngFor="let key of queryNArrKeys; let i = index">
    <h3>Name: {{queryNArr[key].name}}</h3>
    <p>Email: {{queryNArr[key].email}}</p>
    <hr />
  </div>
</div>


<form (ngSubmit)="onSubmitQueryM(a)" #a="ngForm">
    <label value="">Select Restaurant To View Most Frequent Raters</label>
  <select type="text" name="id" ngModel>
    <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
  </select>
  <button type="submit">Submit</button>
</form>

<div *ngIf="qMKeys">
  <div *ngFor="let key of qMKeys; let i = index">
    <h3>Rater Name: {{qM[key].name}}</h3>
    <p>Reputation: {{qM[key].reputation}}</p>
    <p>Comments: {{qM[key].comments}}</p>
    <p>Menu Item Name: {{qM[key].menuitemname}}</p>
    <p>Menu Price: {{qM[key].price}}</p>
    <hr />
  </div>
</div>

