<h1 class = "text-center">Ratings</h1>
<button class="text-center" (click)="goToRoute('home')">Return Home</button>
<button class="text-center" (click)="goToRoute('addrating')">Add Rating</button>
<hr />

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <option value="">Select Restaurant To View Ratings</option>
  <select type="text" name="id" ngModel>
    <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
  </select>
  <button type="submit">Submit</button>
</form>

<div *ngIf="ratingKeys">
    <div *ngFor="let key of ratingKeys; let i = index">
      <p>Name: {{raters[ratings[key].userID].name}}</p>
      <p>Date: {{ratings[key].date}}</p>
      <p>Price Rating: {{ratings[key].price}}</p>
      <p>Staff Rating: {{ratings[key].staff}}</p>
      <p>Mood Rating: {{ratings[key].mood}}</p>
      <p>Food Rating: {{ratings[key].food}}</p>
      <p>Restaurant ID: {{ratings[key].restaurantID}}</p>
      <p>Comments: {{ratings[key].comments}}</p>
      <hr />
    </div>
  </div>

  <hr />

<button class="button medium-btn" (click)="onSubmitQueryF()">Display the total number of rating for each restaurant, for each rater</button>

<div *ngIf="queryFArrKeys">
    <div *ngFor="let key of queryFArrKeys; let i = index">
      <h3>Restaurant Name: {{(queryFArr[key]).restaurantname}}</h3>
      <p>Name: {{(queryFArr[key]).name}}</p>
      <p>Price Rating: {{(queryFArr[key]).price}}</p>
      <p>Food Rating: {{(queryFArr[key]).food}}</p>
      <p>Mood Rating: {{(queryFArr[key]).mood}}</p>
      <p>Staff Rating: {{(queryFArr[key]).staff}}</p>
      <hr />
    </div>
  </div>

<hr />

<button class="button medium-btn" (click)="onSubmitQueryG()">Display the details of the restaurants that have not been rated in January 2015!</button>

<div *ngIf="queryGArrKeys">
  <div *ngFor="let key of queryGArrKeys; let i = index">
    <h3>Restaurant Name: {{(queryGArr[key]).name}}</h3>
    <p>Phone Number: {{(queryGArr[key]).phone_number}}</p>
    <p>Type: {{(queryGArr[key]).type}}</p>
    <hr />
  </div>
</div>