<h1 class = "text-center">Menus</h1>
<button class="text-center" (click)="goToRoute('home')">Home</button>
<button class="text-center" (click)="goToRoute('addMenuItem')">Add Menu Item</button>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <option value="">Select Restaurant</option>
      <select type="text" name="id" ngModel>
        <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
      </select>
      <button type="submit">Submit</button>
 </form>


 <div *ngIf="menuItemKeys">
        <div *ngFor="let key of menuItemKeys; let i = index">
          <h1>Name: {{menuItems[key].name}}</h1>
          <p>Type: {{menuItems[key].type}}</p>
          <p>Category: {{menuItems[key].category}}</p>
          <p>Description: {{menuItems[key].description}}</p>
          <p>Price: ${{menuItems[key].price}}</p>
          <button (click)="deleteMenuItem(menuItems[key].name)">Delete Item</button>
          <hr />
        </div>
</div>