<h1 class = "text-center">Item Ratings</h1>
<button class="text-center" (click)="goToRoute('home')">Return Home</button>
<button class="text-center" (click)="goToRoute('ratings')">Return To Ratings</button>
<hr />

<button class="text-center" (click)="displayRatingItems()">Display Item Ratings</button>
<button class="text-center" (click)="goToRoute('addratingitem')">Add Item Ratings</button>


<div *ngIf="ratingItemKeys">
  <div *ngFor="let key of ratingItemKeys; let i = index">
    <h3>Rater: {{(raters[ratingItems[key].userID]).name}}</h3>
    <p>Menu Item: {{menuItems[ratingItems[key].itemID].name}}</p>
    <p>Rating: {{ratingItems[key].rating}}</p>
    <p>Comment: {{ratingItems[key].comment}}</p>
    <p>Date: {{ratingItems[key].date}}</p>
    <hr />
  </div>
</div>
