<h1>Add Restaurant</h1>
<hr />

<div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
      <div class="div">
        <label>Name</label>
        <input type="text" name="name" ngModel />
      </div>
  
      <div class="div">
        <label>Type</label>
        <input type="text" name="type" ngModel />
      </div>
  
      <div class="div">
        <label>URL</label>
        <input type="text" name="url" ngModel />
      </div>

      <button type="submit" mat-raised-button color="primary">Submit</button>
      <button (click)="goToRoute('restaurants')" mat-raised-button color="primary">Return To Restaurants</button>
    </form>
  
  </div>

<p *ngIf="clicked"> {{res}} </p>
