<h1 class = "text-center">Restaurants</h1>
<button class="text-center" (click)="goToRoute('home')">Return Home</button>
<button class="text-center" (click)="goToRoute('addrestaurant')">Add Restaurant</button>
<hr />

<!-- <h1>{{qAKeys[0]}}</h1> -->
<!-- <button (click)="onDeleteChore(key, i)">Delete Chore</button> -->

<!-- (change) ="method($event.target.value)" -->
<div>
    <form (ngSubmit)="onSubmitDelete(g)" #g="ngForm">
        <option value="">Select Restaurant To Be Deleted</option>
        <select type="text" name="id" ngModel>
            <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
        </select>
      <button type="submit">Delete Selected Restaurant</button>
    </form>
</div>

  <p *ngIf="clicked"> {{res}} </p>

<hr />

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <option value="">Select Restaurant</option>
  <select type="text" name="id" ngModel>
    <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
  </select>
  <button type="submit">Submit</button>
</form>
<!-- <option [value]=key>{{restaurants[key].name}}</option> -->

<div *ngIf="qAKeys">
    <div *ngFor="let key of qAKeys; let i = index">
      <h1>Name: {{qA[key].name}}</h1>
      <p>Type: {{qA[key].type}}</p>
      <p>URL: {{qA[key].url}}</p>
      <p>Location ID: {{qA[key].locationid}}</p>
      <p>First Opened: {{qA[key].first_open_date}}</p>
      <p>Manager Name: {{qA[key].manager_name}}</p>
      <p>Phone Number: {{qA[key].phone_number}}</p>
      <p>Address: {{qA[key].street_address}}</p>
      <p>Open Hours: {{qA[key].hour_open}}-{{qA[key].hour_close}}</p>
      <hr />
    </div>
  </div>

  <hr />

<form (ngSubmit)="onSubmitExpensive(g)" #g="ngForm">
    <option value="">Find Most Expensive Item</option>
  <select type="text" name="idexpensive" ngModel>
    <option *ngFor="let qkey of restaurantKeys; let i = index" [value]="qkey">{{restaurants[qkey].name}}</option>
  </select>
  <button type="submit">Find Most Expensive</button>
</form>
 
<div *ngIf="qDKeys">
    <div *ngFor="let qkey of qDKeys; let i = index">
      <h1>Name: {{qD[qkey].name}}</h1>
      <p>Most Expensive Item: {{qD[qkey].name}}</p>
      <p>Manager Name: {{qD[qkey].manager_name}}</p>
      <p>Open Hours: {{qD[qkey].hour_open}}</p>
      <p>URL: {{qD[qkey].url}}</p>
      <hr />
    </div>
  </div> 



  