<h1 class = "text-center">Restaurants</h1>
<button class="text-center" (click)="goToRoute('home')">Return Home</button>
<button class="text-center" (click)="goToRoute('addrestaurant')">Add Restaurant</button>
<!-- <button class="text-center" (click)="changeView('restaurant')" *ngIf="!isRestaurant">Select by Restaurant</button> -->
<button class="text-center" (click)="goToRoute('byCategory')">Select by Category</button>
<hr />

<!-- <h1>{{qAKeys[0]}}</h1> -->
<!-- <button (click)="onDeleteChore(key, i)">Delete Chore</button> -->

<!-- (change) ="method($event.target.value)" -->
<div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
      <div>
        <section>
            <input type="text" name="restaurantName" />
            <label for="demo">Restaurant Name</label>
          </section>
      </div>
      <button class="text-center" (click)="deleteRest()">Delete Selected Restaurant</button>
    </form>
  </div>

<hr />

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <option value="">Select Restaurant</option>
  <select type="text" name="id" ngModel>
    <option *ngFor="let key of restaurantKeys; let i = index" [value]="key">{{restaurants[key].name}}</option>
  </select>
  <button type="submit">Submit</button>
</form>
<!-- <option [value]=key>{{restaurants[key].name}}</option> -->

<div *ngIf="qAKeys">
    <div *ngFor="let key of qAKeys; let i = index">
      <h1>Name: {{qA[key].name}}</h1>
      <p>Type: {{qA[key].type}}</p>
      <p>URL: {{qA[key].url}}</p>
      <p>Location ID: {{qA[key].locationid}}</p>
      <p>First Opened: {{qA[key].first_open_date}}</p>
      <p>Manager Name: {{qA[key].manager_name}}</p>
      <p>Location Number: {{qA[key].phone_number}}</p>
      <p>Address: {{qA[key].street_address}}</p>
      <p>OPEN FROM: {{qA[key].hour_open}}-{{qA[key].hour_close}}</p>
      <hr />
    </div>
  </div>

