<div class="wrapper">
    <h1 class="sansserif">Register Page</h1>
</div>
<hr />

<div class="wrapper">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div class="div">
      <label>Email</label>
      <input type="text" name="email" ngModel />
    </div>

    <div class="div">
      <label>Name</label>
      <input type="text" name="name" ngModel />
    </div>

    <div class="div">
      <label>Join Date</label>
      <input type="text" name="joinDate" ngModel />
    </div>
    
    <div class="div">
      <label>Type</label>
      <input type="text" name="type" ngModel />
    </div>  
    
    <div class="div">
      <label>Password</label>
      <input type="password" name="password" ngModel />
    </div>    

    <button type="submit"  mat-raised-button color="primary">Submit</button>
    <button (click)="goToRoute('login')"  mat-raised-button color="primary">Return To Login</button>
  </form>

</div>

<p *ngIf="clicked"> {{res}} </p>

